<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>jQuery Mobile Basic</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="../css/icon.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet"	href="../css/jquery.mobile-1.4.5.min.css" />
<style type="text/css">

@font-face {
	font-family: 'Nanum Gothic Bold';
	src: url('../font/NanumGothic-ExtraBold.ttf');
}

* {
	font-family: "Nanum Gothic Bold", sans-serif;
	/* 	border: 1px solid red;*/
}

/* 가장 큰 내용 css */
#content-div {
	padding: 0px;
	background-color: lightgray;
}



</style>


</head>
<body>


	<div data-role="page" class="page">
		<div data-role="header" style="overflow: hidden" data-position="fixed">
			<h1>BeautyChu~♥</h1>
			<a href="option.html" rel="external" data-icon="gear"
				data-iconpos="notext" class="ui-btn-right"></a>

			<div data-role="navbar">
				<ul>
					<li><a href="hot.html" rel="external">HOT</a></li>
					<li><a href="woman.html" rel="external">WOMEN</a></li>
					<li><a href="man.html" rel="external">MAN</a></li>
					<li><a href="#" data-transition="slide"
						class="ui-btn-active ui-state-persist">SHOP</a></li>
					<li><a href="mychu.html" rel="external">MyChu</a></li>
				</ul>
			</div>
		</div>
		<!-- /header -->

		<div data-role="content" id="content-div" >


		</div>
	</div>


	<script		src="../js/jquery-2.1.3.min.js"></script>
	<script		src="../js/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript"	src="//apis.daum.net/maps/maps3.js?apikey=d68325ce80aa99b09337e375aa77d969&libraries=services"></script>
	<script type="text/javascript" charset="utf-8" src="cordova.js"></script>
	
	<script type="text/javascript">

	
	$(function(){
 		$( "#content-div" ).load( "mapdetail.html");
 		

	});	
 		
	
	
	</script>


</body>
</html>
