

		<div data-role="header" style="overflow: hidden" data-position="fixed" data-add-back-btn="true">
		<a href="#" data-rel="back" title="Go back">Back</a>
			<h1>{{style.styleName}}</h1>
		</div>
		<div data-role="content" style="background-color: #f0f0f0;">
			<div class='imageSlideDiv'>

				<div class="swiper-container">
					<div class="swiper-wrapper">
					
					{{#each stylePhotoList}}
						<div class="swiper-slide">
							<img src="{{stylePhoto}}">
						</div>
					{{/each}}
					</div>
				</div>


			</div>
			<div class='stylePrice'>15000원</div>

			<div class='styleInfoDiv'>
				<!-- <div class='styleInfoTitle'>러블리펌</div> -->
				<div class='styleInfoCotent'>이 펌은 러블리 펌 입니다. 인기가 짱 많아요!</div>
			</div>

			<div class='couponDiv'>COUPON 10%</div>


			<div class='shopInfoDiv'>
				<div>
					<img src="../fileupload/5.png">
				</div>
				<div class='shopInfoName'>준오헤어</div>
				<div class='shopInfoContent'>오리역에 있는 준오헤어 1호점입니다. 항상 만족할 수 있는
					서비스를 하겠습니다.^^
					하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하하</div>
			</div>

			<div class='commentDiv'>
				Comment
				<div class='commentOne'>
					<div>
						<img src="../fileupload/5.png">
					</div>
					<div class='commentName'>윤용식</div>
					<div class='commentContent'>정말 좋네요 ㅋㅋ</div>
				</div>
				<div class='commentOne'>
					<div>
						<img src="../fileupload/6.png">
					</div>
					<div class='commentName'>김기현</div>
					<div class='commentContent'>전 별로였어요 ㅠㅠ</div>
				</div>
			</div>
		</div>


		<div data-role="footer" style="overflow: hidden" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li><a href="#">Chu~ 10</a></li>
					<li><a href="#">Commnet</a></li>

				</ul>
			</div>
		</div>


