<div class=style-content id={{styleNumber}}>
	<a href="#style{{styleNumber}}"><img src={{mainPhoto}}></a>
	<div class=div-section-1>
		<div class=div-title>{{styleName}}</div>
		<div class=div-content>{{styleIntro}}</div>
		<div class=div-writer>{{email}}</div>
	</div>
	<div class='div-section-2 ui-grid-a'>
		<div class='div-coment ui-block-a i'>
			<div>
				<i class="write icon"></i>
			</div>
			<div class=count-font>12</div>

		</div>
		<div class='div-chu-count ui-block-b'>
			<div>
				<i class="red heart icon"></i>
			</div>
			<div class=count-font>12</div>
		</div>
	</div>
</div>